#app{
    height: 100%;
}
/*
common style start
 */
html,body{
    height: 100%;
}
body{
    margin: 0;
    background: #262626;
    color: #f0f0f0;
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 10px;
    opacity: .8;
}
::-webkit-scrollbar-track{
    box-shadow: 0 1px 1px #888, inset 2px 0 3px #0d1112;
    background: #1f1f1f;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    width: 8px;
    background: #555;
    border-radius: 4px;
}
::-webkit-media-controls-panel{
    background: #000;
    opacity: 0.2;
    transition: all .3s;
}
::-webkit-media-controls-panel:hover{
    opacity: 0.8;
}
input[type=range] {
    -webkit-appearance: none;
    border-radius: 4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 8px;
    border-radius: 4px;
    box-shadow: 0 1px 1px #666, inset 0 .125em .125em #0d1112;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    margin-top: -5px;
    background: #888;
    border-radius: 50%;
    box-shadow: 0 2px 3px #000;
}
::-webkit-file-upload-button {
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}
button{
    border: 1px solid #666;
    outline: none;
    background: #535353;
    color: #f0f0f0;
    border-radius: 4px;
    line-height: 1em;
    margin: 10px;
    padding: 10px 12px;
    cursor: pointer;
    transition: background .5s;
    vertical-align: middle;
    position: relative;
}
button:hover{
    background: #808080;
}
button:active{
    background: #666;
}
input[type=text],
input[type=number],
input[type=range],
input[type=radio],
input[type=checkbox],
select{
    background: #454545;
    color: #eee;
    border: 1px solid #666;
    vertical-align: middle;
    margin: 10px;
}
input[type=radio],
input[type=checkbox]{
    -webkit-appearance: button;
    outline: none;
    width: 16px;
    height: 16px;
    position: relative;
}
input[type=radio]{
    border-radius: 50%;
}
input[type=radio]:checked::after,
input[type=checkbox]:checked::after {
    content: '';
    display: block;
    outline: none;
    position: absolute;
}
input[type=radio]:checked::after{
    width: 10px;
    height: 10px;
    background: #ddd;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
input[type=checkbox]:checked::after{
    width: 10px;
    height: 5px;
    border-left: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    transform: rotate(-45deg);
    top: 1px;
    left: 1px;
}
input[readonly]{
    padding: 5px 10px;
    margin: 10px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #333;
    background: #262626;
    color: #999;
    box-sizing: border-box;
    font-size: 14px;
    vertical-align: middle;
    outline: none;
    border-radius: 4px;
}
input[type=file]{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-appearance: none;
}
video,
img{
    height: 100%;
}
h1{
    font-size: 18px;
    font-weight: normal;
    padding: 10px 20px;
    margin: 0;
    background: #555;
}
h3{
    color: #888;
    margin: 0 10px;
    padding: 5px 0;
}
hr{
    margin: 20px 0;
    border: 2px solid #3f3f3f;
}
time{
    color: #888;
    font-size: 13px;
}
.draggable{
    -webkit-app-region: drag;
    position: relative;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.section-border{
    border: 1px solid #3f3f3f;
    margin-bottom: 10px;
}
.form-group{
    display: block;
    margin: 0 10px;
    padding: 10px 0;
    vertical-align: middle;
    border-top: 1px solid #333;
    overflow: hidden;
    box-sizing: border-box;
}
.form-group:first-child{
    border-top: none;
}
.color-orange{
    color: orange;
}
.text-limit-2{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
/**
commom style end
 */
.titlebar-tool{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto;
}
.titlebar-tool button{
    -webkit-app-region: no-drag;
    padding: 0;
    width: 24px;
    height: 24px;
    font-size: 20px;
    line-height: 22px;
    box-sizing: border-box;
    border: none;
    color: #ddd;
    background: #333;
    position: relative;
}
.titlebar-tool button:hover{
    background: #444;
}
.titlebar-tool i{
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px #ddd solid;
}
.titlebar-tool button:nth-child(2).full::after{
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px #ddd solid;
    top: 4px;
    left: 8px;
}

.body{
    width: 100%;
    height: calc(100% - 150px);
    overflow: auto;
    position: relative;
}
.menu{
    padding: 5px;
    box-sizing: border-box;
}
.menu button{
    margin: 0;
}
.drop-panel{
    position: absolute;
    background: #262626;
    border: 1px solid #555;
    border-radius: 6px;
    width: 28vw;
    z-index: 10;
    overflow: hidden;
    transition: all .8s;
    transform: scaleY(0);
    transform-origin: top;
}
.drop-panel.slidedown{
    transform: scaleY(1);
}
.drop-panel-group{
    padding: 5px 15px;
    font-size: .8vw;
    color: #888;
}
.drop-panel-group button,
.drop-panel-group input{
    margin: 0;
}
.drop-panel button.save-as{
    background: transparent;
    width: 100%;
    text-align: left;
}


.item{
    display: inline-table;
    width: 19vw;
    border: .2vw solid transparent;
    margin: .3vw;
    box-shadow: #000 0 .1vw .5vw;
    border-radius: .2vw;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
    table-layout: fixed;
}
.item-preview-inner{
    height: 10.8vw;
    position: relative;
}
.item-preview-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.item-tools{
    position: absolute;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    text-align: right;
    z-index: 2;
    background: rgba(255,255,255, 0);
    transition: all .5s;
    bottom: 0;
    left: 0;
}
.item:hover .item-tools{
    background: rgba(255,255,255, .42);
}
.item-tool{
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
    color: #ddd;
    background: #222;
    cursor: pointer;
    opacity: 0;
    transition: all .3s;
}

.item input,
.item select{
    margin: 10px 0;
}
.item [type=text]{
    background: #454545;
    color: #eee;
    border: 1px solid #666;
    vertical-align: middle;
}
.item [type=number]{
    width: 50px;
}
.item select{
    border: none;
    border-bottom: 1px dashed;
    color: #af7b37;
    background: #1b1d1f;
    outline: none;
}
.item select:focus{
    border-bottom: 1px solid;
}
.item-info-toname{
    width: 15.6vw;
}
.item:hover .item-tool{
    opacity: .5;
}
.item:hover .item-tool:hover{
    opacity: 1;
    color: #d87217;
}
.item-progress{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 1;
    background: rgba(180, 0, 0, 0.5);
}
.item-info{
    font-size: 0;
    margin: 0;
}
.item-info-head,
.item-info-body{
    display: inline-block;
    font-size: 14px;
    padding: 2px;
    vertical-align: middle;
    box-sizing: border-box;
    color: #bbb;
}
.item-info-head{
    width: 50px;
    text-align: center;
    color: #888;
}
.item-info-body{
    width: calc(100% - 50px);
}
.item-info .icon-subdirectory_arrow_right{
    font-size: 20px;
}
.item-time{
    padding: 0 5px;
    box-sizing: border-box;
}
.item-time input[type=range]{
    -webkit-appearance: none;
    width: 100%;
    margin: 10px 0;
}
.item-time.curtime{
    text-align: right;
}
.item-editable{
    transition: all .5s;
    max-height: 0;
    overflow: hidden;
    background: #1b1d1f;
}
.editable .item-editable{
    max-height: 300px;
}
span[contenteditable]{
    outline: none;
    border-bottom: 1px dashed;
    color: #af7c4f;
    cursor: pointer;
    padding: 0 5px;
}
span[contenteditable]:focus{
    border-bottom: 1px solid;
    color: #d87217;
    cursor: text;
}


.footer{
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    background: #535353;
    color: #f0f0f0;
    text-align: center;
}