#app{
    height: 100%;
}
/*
common style start
 */
html,body{
    height: 100%;
}
body{
    margin: 0;
    background: #262626;
    color: #f0f0f0;
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 10px;
    opacity: .8;
}
::-webkit-scrollbar-track{
    box-shadow: 0 1px 1px #888, inset 2px 0 3px #0d1112;
    background: #1f1f1f;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    width: 8px;
    background: #555;
    border-radius: 4px;
}
::-webkit-media-controls-panel{
    background: #000;
    opacity: 0.2;
    transition: all .3s;
}
::-webkit-media-controls-panel:hover{
    opacity: 0.8;
}
input[type=range] {
    -webkit-appearance: none;
    border-radius: 4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 8px;
    border-radius: 4px;
    box-shadow: 0 1px 1px #666, inset 0 .125em .125em #0d1112;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    margin-top: -5px;
    background: #888;
    border-radius: 50%;
    box-shadow: 0 2px 3px #000;
}
::-webkit-file-upload-button {
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}
button{
    border: 1px solid #666;
    outline: none;
    background: #535353;
    color: #f0f0f0;
    border-radius: 4px;
    line-height: 1em;
    margin: 10px;
    padding: 10px 12px;
    cursor: pointer;
    transition: background .5s;
    vertical-align: middle;
    position: relative;
}
button:hover{
    background: #808080;
}
button:active{
    background: #666;
}
input[type=text],
input[type=number],
input[type=range],
input[type=radio],
input[type=checkbox],
select{
    background: #454545;
    color: #eee;
    border: 1px solid #666;
    vertical-align: middle;
    margin: 10px;
}
input[type=radio],
input[type=checkbox]{
    -webkit-appearance: button;
    outline: none;
    width: 16px;
    height: 16px;
    position: relative;
}
input[type=radio]{
    border-radius: 50%;
}
input[type=radio]:checked::after,
input[type=checkbox]:checked::after {
    content: '';
    display: block;
    outline: none;
    position: absolute;
}
input[type=radio]:checked::after{
    width: 10px;
    height: 10px;
    background: #ddd;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
input[type=checkbox]:checked::after{
    width: 10px;
    height: 5px;
    border-left: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    transform: rotate(-45deg);
    top: 1px;
    left: 1px;
}
input[readonly]{
    padding: 5px 10px;
    margin: 10px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #333;
    background: #262626;
    color: #999;
    box-sizing: border-box;
    font-size: 14px;
    vertical-align: middle;
    outline: none;
    border-radius: 4px;
}

video,
img{
    height: 100%;
}
h1{
    font-size: 18px;
    font-weight: normal;
    padding: 10px 20px;
    margin: 0;
    background: #555;
}
h3{
    color: #888;
    margin: 0 10px;
    padding: 5px 0;
}
hr{
    margin: 20px 0;
    border: 2px solid #3f3f3f;
}
time{
    color: #888;
    font-size: 13px;
}
.draggable{
    -webkit-app-region: drag;
    position: relative;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.section-border{
    border: 1px solid #3f3f3f;
    margin-bottom: 10px;
}
.form-group{
    display: block;
    margin: 0 10px;
    padding: 10px 0;
    vertical-align: middle;
    border-top: 1px solid #333;
    overflow: hidden;
    box-sizing: border-box;
}
.form-group:first-child{
    border-top: none;
}
/**
commom style end
 */
.titlebar-tool{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto;
}
.titlebar-tool button{
    -webkit-app-region: no-drag;
    padding: 0;
    width: 24px;
    height: 24px;
    font-size: 20px;
    line-height: 22px;
    box-sizing: border-box;
    border: none;
    color: #ddd;
    background: #333;
    position: relative;
}
.titlebar-tool button:hover{
    background: #444;
}
.titlebar-tool i{
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px #ddd solid;
}
.titlebar-tool button:nth-child(2).full::after{
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px #ddd solid;
    top: 4px;
    left: 8px;
}

.body{
    width: 100%;
    height: calc(100% - 150px);
    overflow: auto;
    position: relative;
}
.file-btn{
    width: 66px;
    height: 36px;
}
.file-btn input{
    opacity: 0;
}
.start-btn{
    width: 80px;
    height: 36px;
}

.output-txt-area{
    width: calc(100% - 310px);
}

.flex-item{
    display: inline-block;
    width: 324px;
    border: 2px solid #555;
    margin: 10px;
    box-shadow: #000 0 6px 10px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}
.flex-item-tools{
    position: absolute;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    text-align: right;
    z-index: 2;
    background: rgba(0,0,0, 0);
    transition: all .5s;
}
.flex-item:hover .flex-item-tools{
    background: rgba(0,0,0, .35);
}
.flex-item-tool{
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 22px;
    line-height: 30px;
    border-radius: 4px;
    color: #ddd;
    background: #222;
    cursor: pointer;
    opacity: 0;
    transition: all .3s;
}
.flex-item:hover .flex-item-tool{
    opacity: .5;
}
.flex-item:hover .flex-item-tool:hover{
    opacity: 1;
}
.flex-item-preview{
    width: 100%;
    height: 240px;
    background: #555;
}
.flex-item-preview canvas{
    width: 100%;
    height: 100%;
}
.flex-item-fileinfo{
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
    color: #888;
    word-break: break-all;
}
.flex-item-fileinfo p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
}
.flex-item-fileinfo input{
    width: 260px;
    background: #ddd;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #444;
    height: 36px;
}
.flex-item-fileinfo input.flex-item-input-pixel{
    width: 120px;
}
.flex-item-fileinfo input[readonly]{
    background: #222;
    margin: 0;
    color: #aaa;
}
.flex-item-progress{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 1;
}
.flex-item-progress progress{
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
}

.config-panel{
    position: fixed;
    width: 30%;
    max-width: 500px;
    min-width: 300px;
    border-right: 1px solid #555;
    overflow: auto;
    font-size: 0;
    top: 50%;
    left: 50%;
    z-index: 100;
    background: rgba(10, 10, 10, .9);
    transition: transform .5s;
    transform: scale(0);
    border-radius: 4px;
}
.config-panel.show{
    transform: scale(1);
}
.panel-title{
    font-size: 16px;
    -webkit-user-select: none;
    user-select: none;
    cursor: move;
}
.lb-quality{
    width: calc(100% - 138px);
}
.lb-name{
    color: #ddd;
    font-size: 13px;
    display: inline-block;
}
.lb-percent{
    color: #888;
    font-size: 13px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}
input[title=percent]{
    -webkit-appearance: none;
}
input[title=percent]::-webkit-outer-spin-button,
input[title=percent]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.percent-number{
    width: 30px;
    margin: 3px !important;
    height: 12px !important;
    line-height: 1em;
}
.lb-size{
    width: calc((100% - 132px) / 2);
}
.lb-time-txt{
    display: inline-block;
    margin: 0 10px;
    font-size: 13px;
    color: #888;
}
.lb-time-group{
    display: block;
    text-align: center;
    padding: 10px 0;
}
.lb-name-tiny{
    font-size: 13px;
    color: #aaa;
    margin: 0 10px;
    padding: 10px 0;
    display: inline-block;
}
input.size-link{
    height: 8px;
    width: 20px;
    margin: 5px;
    border: none;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    background: transparent;
}
input.size-link:checked{
    border-top: 2px solid #888;
    border-bottom: 2px solid #888;
}
input.size-link:checked::after{
    border-left: none;
    width: 20px;
    top: -3px;
    left: -2px;
    border-bottom-color: #888;
}
.select-format{
    height: 30px;
    border-radius: 4px;
}

.edit-window-file{
    text-align: center;
    background: #101010;
}
.edit-window-file video,
.edit-window-file img
{
    width: 100%;
    display: block;
}
.form-onok{
    text-align: right;
}

.footer{
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    background: #535353;
    color: #f0f0f0;
    text-align: center;
}