:root{
    --gray: #666;
    --gray1: #b9b9b9;
    --gray2: #8a8a8a;
    --gray3: #454545;
    --gray4: #313131;
    --blue1: #2d8ceb;
    --blue2: #3e6d9c;
    --black1: #232323;
    --black2: #1d1d1d;
    --black3: #101010;
    --light1: #f7b618;
    --dur1: .3s;
    --dur2: .5s;
    --dur3: .8s;
    --dur4: 1s;
    --scroll1: 8px;
    --scroll2: 10px;
    --track1: 8px;
    --r1: 2px;
    --r2: 4px;
    --r3: 6px;
    --r4: 8px;
    --fs38: 2vw;
    --fs28: 1.5vw;
    --fs20: 1.1vw;
    --fs18: .93vw;
    --fs16: .83vw;
    --fs14: .73vw;
    --fs12: .63vw;
}
html,body{
    height: 100%;
}
body{
    margin: 0;
    color: var(--gray2);
    overflow: hidden;
}
::-webkit-scrollbar {
    width: var(--scroll2);
}
::-webkit-scrollbar-track{
    box-shadow: inset calc(var(--scroll2) / 4) 0 calc(var(--scroll2) / 3) var(--black3);
    background: var(--black2);
    border-radius: calc(var(--scroll2) / 2);
}
::-webkit-scrollbar-thumb{
    background: var(--gray3);
    border-radius: calc((var(--scroll2) - 2px) / 2);
}
::-webkit-media-controls-panel{
    background: var(--black3);
    opacity: 0.2;
    transition: all var(--dur1);
}
::-webkit-media-controls-panel:hover{
    opacity: 0.8;
}
::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: var(--track1);
    border-radius: calc(var(--track1) / 2);
    box-shadow: inset 0 calc(var(--track1) / 4) calc(var(--track1) / 3) var(--black3);
    background: var(--gray3);
}
::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: calc(var(--track1) * 2);
    width: calc(var(--track1) * 2);
    margin-top: calc((var(--track1) * 2 - var(--track1)) / -2);
    background: var(--gray2);
    border-radius: 50%;
    box-shadow: 0 calc(var(--track1) / 4) calc(var(--track1) / 3) var(--black3);
}
::-webkit-slider-thumb:hover{
    background: var(--blue1);
}
input,button,textarea{
    -webkit-appearance: none;
    box-sizing: border-box;
}
input,select,textarea{
    border: 1px solid var(--gray3);
    background: var(--black2);
    color: var(--gray1);
    padding: .2em;
    vertical-align: middle;
}
input:hover,select:hover,
input:focus,select:focus,
textarea:focus{
    transition: all var(--dur1);
    outline: none;
    box-shadow: var(--blue1) 0 0 .4em;
    border-color: var(--blue1);
}
select[disabled],
input[disabled]{
    transition: none;
    color: var(--gray) !important;
    box-shadow: none;
    border-color: var(--gray3);
}
[type=checkbox]{
    width: 1em;
    height: 1em;
    border-radius: .2em;
}
[type=checkbox]:checked{
    background: #88543b;
    box-shadow: var(--light1) 0 0 .4em;
    border-color: var(--light1);
}
[type=file]{
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
[type=range] {
    border-radius: var(--r2);
}
[type=range]:focus {
    outline: none;
}
[type=button],[type=submit],[type=image],[type=reset],button{
    border: 1px solid var(--gray2);
    outline: none;
    background: var(--gray3);
    color: var(--gray1);
    border-radius: var(--r2);
    line-height: 1em;
    padding: .5em .6em;
    cursor: pointer;
    transition: background var(--dur1);
    vertical-align: middle;
    position: relative;
    box-sizing: border-box;
}
[type=number]::-webkit-outer-spin-button,
[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
[type=number]{
    text-align: center;
}
button:hover{
    background: var(--gray4);
    color: var(--blue1);
    border-color: var(--blue1);
}
button[disabled]{
    background: var(--gray3);
    color: var(--gray2);
    border-color: var(--gray4);
    cursor: auto;
}
button:active{
    background: var(--black1);
}
summary{
    outline: none;
    cursor: pointer;
}
.draggable{
    -webkit-app-region: drag;
    position: relative;
}
.my-dragbar{
    position: relative;
}
.text-center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-indent{
    text-indent: 2em;
    display: inline-block;
}
.text-limit-c10{
    display: inline-block;
    width: 10em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
}
.text-limit-r1,
.text-limit-r2,
.text-limit-r3{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.text-limit-r1{
    -webkit-line-clamp: 1;
}
.text-limit-r2{
    -webkit-line-clamp: 2;
}
.text-limit-r3{
    -webkit-line-clamp: 3;
}
.float-l{
    float: left;
}
.float-r{
    float: right;
}

.color-1{
    color: var(--blue2);
}
.rotate-z-90{
    transform: rotateZ(90deg);
    display: inline-block;
}
/*start*/
#app{
    height: 100%;
    background: var(--black1);
    overflow: hidden;
}
[v-cloak]{display: none;}
.titlebar{
    position: relative;
    background: var(--gray4) url('icon.png') no-repeat .5em center;
    background-size: auto 100%;
}
.title{
    width: calc(100% - 9em);
    font-size: 18px;
    font-weight: normal;
    padding: .5em 1em .5em 3em;
    margin: 0;
    box-sizing: border-box;
}
.titlebar-tool{
    position: absolute;
    top: .3em;
    right: 1em;
    margin: auto;
}
.titlebar-tool button{
    -webkit-app-region: no-drag;
    width: calc(var(--fs20) * 1.5);
    height: calc(var(--fs20) * 1.5);
    line-height: .9;
    box-sizing: border-box;
    border: none;
    position: relative;
    background: var(--gray4);
    font-size: var(--fs18);
}
.titlebar-tool button:hover{
    color: var(--blue1);
    background: var(--gray3);
}
.titlebar-tool i{
    display: inline-block;
    width: calc(var(--fs20) * .6);
    height: calc(var(--fs20) * .6);
    border: 1px solid;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.titlebar-tool .full i{
    display: inline-block;
    width: calc(var(--fs20) * .5);
    height: calc(var(--fs20) * .5);
    top: auto;
    bottom: calc(var(--fs20) * .35);
    left: calc(var(--fs20) * .35);
    margin: 0;
}
.titlebar-tool button.full::after{
    content: '';
    display: block;
    position: absolute;
    width: calc(var(--fs20) * .5);
    height: calc(var(--fs20) * .5);
    border: 1px solid;
    top: calc(var(--fs20) * .35);
    right: calc(var(--fs20) * .35);
}

.body{
    width: 100%;
    height: calc(100% - 120px);
    overflow: auto;
    position: relative;
}
.toolbar{
    padding: 5px;
    box-sizing: border-box;
    background: var(--gray4);
    border-top: 2px solid var(--black1);
}
.toolbar-item{
    margin: 0;
    overflow: hidden;
}
.submenu{
    position: fixed;
    margin: 0;
    padding: 0;
    transform: scale(0);
    transform-origin: top left;
    transition: transform .5s;
    list-style: none;
    z-index: 10;
}
.submenu-item{
    margin: 1px 0;
    position: relative;
}
.submenu-btn{
    width: 100%;
    text-align: justify;
}

.drop-panel{
    position: fixed;
    background: var(--black1);
    border: 1px solid;
    border-radius: var(--r3);
    z-index: 10;
    overflow: hidden;
    transition: all .5s;
    transform: scale(0);
    transform-origin: top left;
    border-color: var(--light1);
    padding: .5em 1em;
    box-sizing: border-box;
}
.submenu .drop-panel{
    position: absolute;
    top: 0;
    left: calc(100% + 1px);
}
.drop-panel-group{
    font-size: var(--fs14);
    color: var(--gray1);
    white-space: nowrap;
}
.drop-panel-group input[type=text]{
    width: 8em;
}
.drop-panel-group input[type=number]{
    width: 4em;
}
.drop-panel-group input,
.drop-panel-group select,
.drop-panel-group textarea{
    color: var(--light1);
}
.drop-panel-group .tip{
    color: var(--gray2);
    font-size: 12px;
}

.item-list{
    font-size: 0;
    transform: scale(0);
    transition: transform .8s;
    transform-origin: top;
}
.item-list-show{
    transform: scale(1);
}
.item{
    display: inline-block;
    width: 19vw;
    border: 1px solid;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: var(--fs14);
    table-layout: fixed;
    margin: .4vw;
    transition: margin .5s;
    background: var(--black1);
    border-radius: 4px;
    overflow: hidden;
}
.item-preview-inner{
    height: 10.8vw;
    position: relative;
}
.item-media-type{
    font-size: var(--fs20);
    padding: .2vw;
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    color: var(--blue1);
}
.item-controls{
    width: 100%;
    padding: .5vw;
    font-size: var(--fs14);
    box-sizing: border-box;
    text-align: center;
}
.item-controls [type=range]{
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: .2vw;
    padding: .2vw 0;
    box-sizing: border-box;
    background: transparent;
}
.item-controls [type=range]::-webkit-slider-runnable-track{
    background: transparent;
}
.item-preview-box{
    height: 100%;
    background: #000;
}

.item-play-btn{
    position: absolute;
    width: 2vw;
    height: 2vw;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: var(--fs38);
    transition: all .5s;
    margin: auto;
    color: #fff;
    z-index: 2;
    filter: drop-shadow(#000 0 0 1px);
}
.item-play-btn.playing{
    opacity: 0;
    transform: scale(2);
}
.item-progress-percent{
    position: absolute;
    width: 100%;
    height: 1em;
    font-size: var(--fs14);
    line-height: 1em;
    font-weight: bolder;
    text-align: center;
    color: #fff;
    top: 0;
    background-color: #000000d0;
    z-index: 2;
}
.item-preview-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.item-tools{
    padding: .26vw;
    box-sizing: border-box;
    text-align: right;
    background: var(--black1);
    border-bottom: 2px solid var(--black3);
}
.item-tool{
    display: inline-block;
    text-align: center;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.4em;
    font-size: var(--fs16);
    color: var(--gray2);
    cursor: pointer;
    transition: all .3s;
    box-sizing: border-box;
    border-radius: 4px;
}
.item-tool:hover{
    color: var(--blue1);   
}
.item-tool.active{
    color: var(--light1);
}
.item-row{
    margin: 0;
    overflow: hidden;
    font-size: 0;
    white-space: nowrap;
    border-bottom: 2px solid var(--black3);
}
.item-old,
.item-new{
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    font-size: var(--fs16);
    padding: .3em .5em;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-old{
    border-right: 1px solid var(--black3);
}
.item-size-range{
    position: fixed;
}
.item input,
.item select{
    color: var(--blue1);
}
.item [type=text],
.item [type=range]{
    width: 98%;
}
.item [type=number]{
    width: 3.5em;
}
.item [type=checkbox]{
    margin: 0;
}
.item-mask{
    content: '';
    background: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 3;
}
.item-progress-loaded{
    background: rgba(0,124,255,.36);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
}
.item-progress-txt{
    font-size: var(--fs20);
    color: var(--light1);
    position: absolute;
    width: 100%;
    height: 2em;
    line-height: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

.sprite-list{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
    z-index: 9;
    transform: scale(0);
    transform-origin: top;
    transition: transform .8s;
    white-space: nowrap;
}
.sprite-list-show{
    transform: scale(1);
}
.sprite-item{
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.sprite-img{
    display: block;
}
.sprite-list,
.sprite-item,
.sprite-img{
    box-sizing: border-box;
}

.dialog-outer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .5);
    position: fixed;
    top: 0;
    left: 0;
    font-size: var(--fs16);
    transition: all .5s;
    color: var(--light1);
    transform: scale(0);
    z-index: 100;
}
.dialog-show{
    transform: scale(1);
}
.dialog-inner{
    border-radius: 4px;
    overflow: hidden;
    background: var(--black2);
    border: 1px solid var(--gray3);
}
.dialog-header{
    padding: .5em;
    background: var(--gray4);
    position: relative;
}
.dialog-close{
    cursor: pointer;
    position: absolute;
    right: .5em;
    top: .5em;
    transition: transform .5s;
}
.dialog-close:hover{
    transform: rotate(180deg);
}
.dialog-body{
    margin: 1em 1em 0;
}
.dialog-footer{
    text-align: center;
}
.dialog-btn{
    min-width: 4em;
    margin: 1em;
    background: transparent;
    border: 1px solid;
    color: var(--light1);
}
.dialog-details{
    font-size: var(--fs12);
    color:var(--gray2);
}

.footer{
    height: 36px;
    line-height: 36px;
    font-size: var(--fs14);
    background: #535353;
    color: #f0f0f0;
    text-align: center;
}

.alpha{
    background-image: linear-gradient(45deg, #e2e2e2 25%, transparent 25%, transparent),
                    linear-gradient(-45deg, #e2e2e2 25%, transparent 25%, transparent),
                    linear-gradient(45deg, transparent 75%, #e2e2e2 75%),
                    linear-gradient(-45deg, transparent 75%, #e2e2e2 75%);
    background-size: 1vw 1vw;
    background-color: #bdbdbd;
}
.active-1{
    color: var(--light1) !important;
    border-color: var(--light1) !important;
}
.zoom-in{
    transform: scale(1) !important;
}