<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>FupConvert媒体处理器</title>
    <link rel="stylesheet" type="text/css" href="../css/icon.css">
	<link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
<div id="app" v-cloak>
    <header>
        <div class="titlebar">
            <h1 class="title draggable">媒体处理器</h1>
            <div class="titlebar-tool">
                <button v-on:click="minimize">&minus;</button>
                <button v-on:click="wintoggle" :class="{full: isFullScreen}"><i></i></button>
                <button v-on:click="winclose">&times;</button>
            </div>
        </div>
        <section>
            <div class="menu">
                <button>
                    <i class="icon icon-folder-open"></i>
                    <input v-on:change="chosefile" type="file" title="打开文件" multiple>
                </button>
                <button class="start-btn" title="开始" v-on:click="convert(-1)" title="批量转换">
                    <i class="icon icon-loop2"></i>
                </button>
                <button v-on:click="gotoSetAll" title="全局设置">
                    <i class="icon icon-cog"></i>
                </button>
                <button v-on:click="alphaFn" title="透明/黑色背景">
                    <i class="icon icon-contrast"></i>
                </button>
                <button v-on:click="openCutScreen" title="录制屏幕(默认全屏，按住【ctrl】点击按钮可调出选框)">
                    <i class="icon icon-camera"></i>
                </button>
                <button v-on:click="firstAid" title="急救：程序卡死、崩溃、未知错误时使用，谨慎使用！">
                    <i class="icon icon-aid-kit"></i>
                </button>
            </div>
            <div class="drop-panel" :class="{slidedown:dropSlidedown}">
                <div class="drop-panel-group">
                    <button class="save-as">
                        输出目录：{{output}}
                        <input v-on:change="chosedir" type="file" title="文件保存为" nwdirectory>
                    </button>
                </div>
                <div class="drop-panel-group">
                    压缩速度：
                    <select title="速度越慢越清晰" v-model="speedLevel">
                        <option v-for="(speed, key) of speeds" :value="key">{{speed}}</option>
                    </select>
                </div>
                <div class="drop-panel-group">
                    输出名称( <i class="icon icon-lock" title="只对锁定项目生效"></i>)：
                    <input type="text" v-on:input="nameAllFn" :value="nameAll" title="名称末尾用0填充，如“00”表示01，02，03...">
                </div>
                <div class="drop-panel-group">
                    宽度上限( <i class="icon icon-lock" title="只对锁定项目生效"></i>)：
                    <input type="number" min="0" v-on:input="whLimitFn($event,'width')" :value="widthLimit"> &times;
                    高度上限( <i class="icon icon-lock" title="只对锁定项目生效"></i>)：
                    <input type="number" min="0" v-on:input="whLimitFn($event,'height')" :value="heightLimit">
                </div>
                <div class="drop-panel-group">
                    大小上限( <i class="icon icon-lock" title="只对锁定项目生效"></i>)：
                    <input type="text" v-on:input="sizeLimitFn" :value="sizeLimit" title="单位：大写B、KB、MB，不写单位则默认：B">
                </div>
            </div>
        </section>
    </header>
    <div class="body">
        <section class="columns">
            <dl class="item" v-for="(item, index) of items" :class="{editable: item.editable, hide: item.hide}">
                <dt class="item-preview">
                    <div class="item-preview-inner">
                        <i class="item-play-btn icon icon-play2" :class="{playing: item.playing}" v-if="item.type !== 'image' && item.canplay" v-on:click="play($event,index)"></i>
                        <div class="item-preview-box" :class="{alpha:alpha}" v-on:click="play($event,index)" v-child="item.video"></div>
                        <div class="item-filename text-limit r1">
                            <i class="item-media-type icon" :class="mediaIcon[item.type]"></i>
                            {{item.name}}
                        </div>
                        <div class="item-controls">
                            <input type="range" v-on:input="itemFn($event,index,'currentTime')" v-on:change="itemFn($event,index,'timeSlide')" :value="item.currentTime" min="0" :max="item.duration" step="0.001" title="时间">
                        </div>
                        <div class="item-progress-percent" v-if="item.progress">{{item.progress}}</div>
                    </div>
                    <div class="item-tools">
                        <i class="item-tool icon icon-cog" :class="{active:item.editable}" v-on:click="itemFn($event,index,'edit')" title="设置参数"></i>
                        <i class="item-tool icon" v-on:click="itemFn($event,index,'lock')" title="锁定/解锁" :class="{'icon-lock': item.lock,'icon-unlocked':!item.lock, active:item.lock}"></i>
                        <i class="item-tool icon icon-loop2" v-on:click="convert(index)" title="转换此文件"></i>
                        <i class="item-tool icon icon-bin" v-on:click="itemFn($event,index,'del')" title="删除"></i>
                    </div>
                </dt>
                <dd class="item-info item-editable">
                    <div class="item-info-head"><i class="icon icon-subdirectory_arrow_right"></i></div>
                    <div class="item-info-body">
                        <input type="text" :value="item.toname+'.'+item.toformat" title="输出名称">
                    </div>
                </dd>
                <dd class="item-info">
                    <div class="item-info-head">截取：</div>
                    <div class="item-info-body">
                        {{item.currentTime | timemat}}
                        <i class="color-1 icon icon-arrow-right">
                        {{item.starttime | timemat}}-{{item.endtime | timemat}} {{item.cover | timemat}}</i>
                    </div>
                </dd>
                <dd class="item-info item-editable">
                    <div class="item-info-head"><i class="icon icon-subdirectory_arrow_right"></i></div>
                    <div class="item-info-body">
                        <div class="item-time">
                            <button :title="'上'+tunstep+'帧'" v-on:click="itemFn($event,index,'prevFrame')"><i class="icon icon-previous2"></i></button>
                            <input type="number" v-model="tunstep" title="设置微调量">
                            <button :title="'下'+tunstep+'帧'" v-on:click="itemFn($event,index,'nextFrame')"><i class="icon icon-next2"></i></button>
                        </div>
                        <div class="item-time">
                            <button v-on:click="itemFn($event,index,'setstart')" title="当前时间设置为片段起点">标记起点</button>
                            <button v-on:click="itemFn($event,index,'setend')" title="当前时间设置为片段终点">标记终点</button>
                            <button v-on:click="itemFn($event,index,'cover')" title="当前时间输出为封面图">标记封面</button>
                        </div>
                    </div>
                </dd>
                <dd class="item-info">
                    <div class="item-info-head">大小：</div>
                    <div class="item-info-body">{{item.size | sizemat('size')}} 
                        <i class="color-1 icon icon-arrow-right"> {{item.tosize | sizemat('tosize')}} </i>
                    </div>
                </dd>
                <dd class="item-info item-editable">
                    <div class="item-info-head"><i class="icon icon-subdirectory_arrow_right"></i></div>
                    <div class="item-info-body">
                        <input type="range" min="0" :max="item.size" v-model="item.tosize" title="调节输出大小">
                    </div>
                </dd>
                <dd class="item-info">
                    <div class="item-info-head">尺寸：</div>
                    <div class="item-info-body">
                        {{item.width}} &times; {{item.height}} 
                        <i class="color-1 icon icon-arrow-right"> {{item.towidth}} &times; {{item.toheight}} </i>
                    </div>
                </dd>
                <dd class="item-info item-editable">
                    <div class="item-info-head"><i class="icon icon-subdirectory_arrow_right"></i></div>
                    <div class="item-info-body">
                        <input type="number" min="0" v-on:input="itemFn($event,index,'towidth')" :value="item.towidth" title="输出宽">
                        &times;
                        <input type="number" min="0" v-on:input="itemFn($event,index,'toheight')" :value="item.toheight" title="输出高">
                        像素
                    </div>
                </dd>
                <dd class="item-info">
                    <div class="item-info-head">格式：</div>
                    <div class="item-info-body">{{item.format}} <i class="color-1 icon icon-arrow-right"> {{item.toformat}} </i></div>
                </dd>
                <dd class="item-info item-editable">
                    <div class="item-info-head"><i class="icon icon-subdirectory_arrow_right"></i></div>
                    <div class="item-info-body">
                        <input type="text" v-model.lazy="item.toformat" title="选择输出格式">
                    </div>
                </dd>
            </dl>
        </section>
    </div>
    <footer class="footer draggable">
        <script>document.write('&copy; 2017-'+new Date().getFullYear()+' wenweipo.com')</script>
    </footer>
</div>

<script type="text/javascript" src="../plugins/vue.min.js"></script>
<script type="text/javascript" src="../src/index.js"></script>
</body>
</html>